:root {
  /* Typography */
  --font-family: "Handjet", Arial, sans-serif;
  --font-size: 48px;
  --tablet-font-size: 36px;
  --mobile-font-size: 24px;
  --line-height: 1.2;

  --text-size-h1: 4.2rem;
  --tablet-text-size-h1: 4.2rem;
  --mobile-text-size-h1: 3rem;

  --text-size-h2: 3rem;
  --tablet-text-size-h2: 3rem;
  --mobile-text-size-h2: 2.4rem;

  --text-size-h3: 2.2rem;
  --tablet-text-size-h3: 2.2rem;
  --mobile-text-size-h3: 1.6rem;

  --text-size-h4: 1.6rem;
  --tablet-text-size-h4: 1.6rem;
  --mobile-text-size-h4: 1.2rem;

  --text-size-input: 1.2rem;
  --text-size-footnote: 0.8rem;
  --font-weight-footnote: 300;
  
  /* Colors */
  --primary-color: #0474ff;
  --bg-color: #121212;
  --text-color: #fff;
  --border-color: #272727;
  --winner-color: #7ed979;
  --loser-color: #ff7e7e;

  /* Globals */
  --border-radius: 0.5rem;
  --app-padding: 1rem;

  /* Animations */
  /*
    only set the default transition parameters.
    This allows to have consistent animations, but leaves the freedom to the element to choose which attribute(s) to animate.
  */
  --default-transition: 300ms ease-in-out;

  /* Breakpoints */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1440px;
}
