/* --------------------------------------------------------------------------------- */
/* html body */

/* Make sure the html and body take the full height of the viewport */
html {
  width: 100dvw;
  height: 100dvh;
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  padding: var(--app-padding);
}

/* --------------------------------------------------------------------------------- */
/* header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

body:has(#game-section.active) header,
body:has(#game-section.active) footer {
  display: none;
}

body:has(#home-section.active) header #header-logo {
  display: none;
}

/* h1 {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin-right: -1px;
    margin-top: -1px;
} */

/* --------------------------------------------------------------------------------- */
/* main */

main {
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

main section {
  flex-direction: column;
  display: none;
  margin: auto;
  margin-top: 0;
  width: 100%;
  margin-left: 0;
  max-width: 1440px;
}

main section.active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
}